@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
$golden-ratio: 1.61803398874989;
$base-width:480px;

.slideshow-wrapper{
    height: calc($base-width/$golden-ratio);
    width: $base-width;
    .product-img{
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .product-content{
        h4{
            font-size: 0.6rem;
        }
        h6{
            font-size: 0.4rem;
        }
        .car-buttons{
            // additive-symbols: $color-highlight;
            font-size: 16px;
        }
    }
}
.product-image{
    max-width: inherit;
    max-height: inherit;
    height: 235px;
    width: 320px;
    
    
    img{
        object-fit:contain;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
ngb-carousel{
    // background-color:gray;
    height: 40vh;
    width: 97vw;
    position: relative;
    display: flex;
    margin: auto;
    padding: 0;
    // border: 1px solid black;
    .picsum-img-wrapper {
        border: 1px solid white;
        position: relative;
        display: flex;
        max-width: 100vw;
        max-height: 40vh;
        height: inherit;
        width: inherit;
        padding: 0.25rem ;
        margin: 0;
        align-content: center;
        justify-content: center;
        // height: 0;
        // padding-top: 55%; /* Keep ratio for 900x500 images */
        .product-img{
            max-width: inherit;
            max-height: inherit;
            height: inherit;
            width: inherit;
            object-fit: cover;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .carousel-inner{
            .carousel-control-prev .carousel-control-next {
                color:aqua
            }
        }
    }
}
