<header class="p-0 mb-3 border-bottom main-header">
    <div class="container-fluid p-0 m-0">
        <app-nav1></app-nav1>
        <div class="main-menu">
            <div class="main-menu-1">
               <a href="#" routerLink="/" >
                <img [src]="logo_xlevel" alt="xlevel_logo" class="logo" >
               </a>
            </div>
            <div class="main-menu-2">
                <app-nav3></app-nav3>
            </div>
            
        </div>
        
    </div>
    
</header>

