@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.scss';
/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;


/* ----- Product Section ----- */
.store {
	// width: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	// grid-template-columns: 0.9fr 1fr;
	margin: 0.15rem 0.25em;
	padding: 0.25rem 1em;
	
	background-color: white;
	border-radius: 5px;
	.bread-crumb-navbar{
		display: flex;
		border: 1px solid #4c4c4c;
		height: 2.5vh;
		width: 90vw;
		// font-size: 8px;
	}
	.store-sidemenu{
		position: relative;
		border: 1px solid red;
		margin: 0.25rem 0.25rem;
		width: 15vw;
		max-width: 25vw;
		height: 65vh;
	}
	.product-list{
		// position: inherit;
		// display:grid;
		border: 1px solid rgb(62, 81, 223);
		// display: flex;
		// flex-wrap:wrap ;
		// flex-direction: column;
		// margin: 0.25rem 0.25rem;
		min-width: 82vw;
		max-width: 85vw;
		min-height: 85vh;
		margin-top: 0.15rem;
		a{
			text-decoration: none;
		}
		
	}
}
.product-card{
	// position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 320px;
	height: 430px;
	max-width: 320px;
	max-height: 430px;
	border: 1px solid whitesmoke;
	margin: 0.15rem;
	padding: 0.5rem;
	text-decoration: none;
	color: black;
}
.product-header{
	justify-content: space-evenly;
	align-items: center;
	padding: .25rem;
	margin: auto;
	.product-tag{
		color: grey;
		text-decoration: none;
		font-size: 12px;
	
	}
	.product-favorite{
		// display:flex;
		align-items: center;
		justify-items: center;
	}
	.favorite{
		color: red;
	}
	
}

.product-content{
	max-height: 385px;
	height: 385px;
	
	.product-image{
		max-width: inherit;
		max-height: inherit;
		// width: 280px;
		// height: 280px;
		margin: auto;
	}
	.product-name{
		color: black;
		font-size: 16px;
		text-align: center;
		font-weight: 700;
		margin: auto;
	}
	.product-rating{
		text-align: center;
		justify-content: center;
		margin: auto;
	}
}
.product-caption{
	justify-content: center;
	align-items: center;
	.product-price{
		color:rgb(35, 35, 236);
		font-weight: 700;
		text-align: center;
	}
	.iva{
		color: #4c4c4c;
		font-size: 8px;
		font-weight: 700;
		text-align: right;
	}
}

.product-block{
	.product-header{
		.posted-in{
			a{
				color: black;
				border: 1px solid black;
			}
		}
	}
	.product-caption{
		color: black;
	}

}
.hover-me:hover{
	transform: scale(1.04);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	border: 0px solid beige;
	cursor: pointer;
}
.product-card:hover{
	transform: scale(1.08);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	// background-image: linear-gradient(to right, #111 11%, #333 56%);

}
.wrapper{
	// display: grid;
	// flex-wrap: wrap;
	// flex-direction: column;
	width: 320px;
	height: 430px;
	max-width: 320px;
	max-height: 430px;
	border: 1px solid whitesmoke;
	margin: 0.15rem;
	padding: 0.5rem;
	text-decoration: none;
	color: black;
}

.dataviewMenu{
	background: white;
	background-color: white;
	width: 250px;
	height: 50px;
}
div.p-dataview-header{
	width: 100vw;
	height: .5rem;
}